<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				My Profile
			</h3>
		</div>
		<div>
			<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
				<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
					<i class="la la-plus m--hide"></i>
					<i class="la la-ellipsis-h"></i>
				</a>
				<div class="m-dropdown__wrapper">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content">
								<ul class="m-nav">
									<li class="m-nav__section m-nav__section--first m--hide">
										<span class="m-nav__section-text">
											Quick Actions
										</span>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-share"></i>
											<span class="m-nav__link-text">
												Activity
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-chat-1"></i>
											<span class="m-nav__link-text">
												Messages
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-info"></i>
											<span class="m-nav__link-text">
												FAQ
											</span>
										</a>
									</li>
									<li class="m-nav__item">
										<a href="" class="m-nav__link">
											<i class="m-nav__link-icon flaticon-lifebuoy"></i>
											<span class="m-nav__link-text">
												Support
											</span>
										</a>
									</li>
									<li class="m-nav__separator m-nav__separator--fit"></li>
									<li class="m-nav__item">
										<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
											Submit
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div *ngIf="errorUpdated">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			<strong>
				Oh snap!
			</strong>
			Unfortunately, your request to apply for this job failed.
		</div>
	</div>
	<div *ngIf="successfulUpdated">
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			<strong>
				Well done!
			</strong>
			You successfully applied for this job.
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="m-portlet m-portlet--full-height">
				<div class="m-portlet__body">
					<div class="m-card-profile">
						<div class="m-card-profile__title m--hide">
							Your Profile
						</div>
						<div class="m-card-profile__pic">
							<div class="m-card-profile__pic-wrapper">
								<img src="./assets/app/media/img/users/user.png" alt=""/>
							</div>
						</div>
						<div class="m-card-profile__details">
							<span class="m-card-profile__name">
								{{user.firstname}} {{user.lastname}}
							</span>
							<a href="" class="m-card-profile__email m-link">
								{{user.email}}
							</a>
						</div>
					</div>
					<ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
						<li class="m-nav__separator m-nav__separator--fit"></li>
						<li class="m-nav__section m--hide">
							<span class="m-nav__section-text">
								Section
							</span>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-profile-1"></i>
								<span class="m-nav__link-title">
									<span class="m-nav__link-wrap">
										<span class="m-nav__link-text">
											My Profile
										</span>
										<!--span class="m-nav__link-badge">
											<span class="m-badge m-badge--success">
												2
											</span>
										</span-->
									</span>
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-share"></i>
								<span class="m-nav__link-text">
									Activity
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-chat-1"></i>
								<span class="m-nav__link-text">
									Messages
								</span>
							</a>
						</li>
						<li class="m-nav__item">
							<a routerLink="/header/profile" class="m-nav__link">
								<i class="m-nav__link-icon flaticon-lifebuoy"></i>
								<span class="m-nav__link-text">
									Support
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
									<i class="flaticon-share m--hide"></i>
									Update Profile
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
									Reviews
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
									Added Jobs
								</a>
							</li>
						</ul>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item">
								<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
									<a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
										<i class="la la-plus"></i>
									</a>
									<div class="m-dropdown__wrapper">
										<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
										<div class="m-dropdown__inner">
											<div class="m-dropdown__body">
												<div class="m-dropdown__content">
													<ul class="m-nav">
														<li class="m-nav__section m-nav__section--first">
															<span class="m-nav__section-text">
																Quick Actions
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-share"></i>
																<span class="m-nav__link-text">
																	Create Job
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-chat-1"></i>
																<span class="m-nav__link-text">
																	Send Messages
																</span>
															</a>
														</li>
														<!--li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-multimedia-2"></i>
																<span class="m-nav__link-text">
																	Upload File
																</span>
															</a>
														</li-->
														<li class="m-nav__section">
															<span class="m-nav__section-text">
																Useful Links
															</span>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-info"></i>
																<span class="m-nav__link-text">
																	FAQ
																</span>
															</a>
														</li>
														<li class="m-nav__item">
															<a href="" class="m-nav__link">
																<i class="m-nav__link-icon flaticon-lifebuoy"></i>
																<span class="m-nav__link-text">
																	Support
																</span>
															</a>
														</li>
														<li class="m-nav__separator m-nav__separator--fit m--hide"></li>
														<li class="m-nav__item m--hide">
															<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
																Submit
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-content">
					<div class="tab-pane active" id="m_user_profile_tab_1">
						<form class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group m--margin-top-10 m--hide">
									<div class="alert m-alert m-alert--default" role="alert">
										The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional classes.
									</div>
								</div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											1. Personal Details
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Full Name
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="{{user.lastname}} {{user.firstname}}">
									</div>
								</div>
								<!--div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Occupation
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="CTO">
									</div>
								</div-->
								<div class="form-group m-form__group row">
                                	<label for="example-text-input" class="col-2 col-form-label">
                           				Date Of Birth
                                	</label>
                                	<div class="col-7">
                                		<input class="form-control m-input" id="dob" #dob type="date" value="{{dateOfBirth}}">
                                	</div>
                               </div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Email
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="{{user.email}}">
										<span class="m-form__help">
											If you want your invoices addressed to a company. Leave blank to use your full name.
										</span>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Phone No.
									</label>
									<div class="col-7">
										<input class="form-control m-input" #phone id="phone" type="text" value="{{user.phone}}">
									</div>
								</div>


								<div class="form-group m-form__group row">
									<label class="col-form-label col-2">
										Skills
									</label>
									<div class="col-lg-7 col-md-7 col-sm-12" style="margin-top: -7px;">
										<div class="m-list-badge m--margin-top-15">
											<div class="m-list-badge__items">
												<div *ngIf="skills" style="animation: fadeIn;">
													<div class="row" style="padding-left:15px;">
														<div *ngFor="let skill of skills" style="padding-bottom: 15px;">
															<a *ngIf="isSkillSelected(skill)" (click)="removeSkill(skill)" href="#" class="m-list-badge__item_clicked">{{skill.description}}</a>
															<a *ngIf="!isSkillSelected(skill)" (click)="selectSkill(skill)" href="#" class="m-list-badge__item">{{skill.description}}</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											2. Address
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Address
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="L-12-20 Vertex, Cybersquare">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										City
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="San Francisco">
									</div>
								</div>
								<!--div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										State
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="California">
									</div>
								</div-->
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Postcode
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="45000">
									</div>
								</div>
								<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
								<div class="form-group m-form__group row">
									<div class="col-10 ml-auto">
										<h3 class="m-form__section">
											3. Social Links
										</h3>
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Linkedin
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="www.linkedin.com/{{user.firstname}}.{{user.lastname}}">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Facebook
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="www.facebook.com/{{user.firstname}}.{{user.lastname}}">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Twitter
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="www.twitter.com/{{user.firstname}}.{{user.lastname}}">
									</div>
								</div>
								<div class="form-group m-form__group row">
									<label for="example-text-input" class="col-2 col-form-label">
										Instagram
									</label>
									<div class="col-7">
										<input class="form-control m-input" type="text" value="www.instagram.com/{{user.firstname}}.{{user.lastname}}">
									</div>
								</div>
							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-2"></div>
										<div class="col-7">
											<a href="" class="btn btn-outline-primary m-btn m-btn--pill m-btn--wide btn-sm" (click)="updateUser(dob,phone)">
                                            	Submit
                                            </a>
											&nbsp;&nbsp;
											<!--button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
												Cancel
											</button-->
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-pane" id="m_user_profile_tab_2">
					     <div class="m-content">
					        <div *ngIf="reviews"  style="animation: fadeIn;">
					            <div *ngIf="reviews.length != 0; else notTrue">
                                    <div *ngFor="let review of reviews" >
                                        <div class="row">
                                            <div class="m-portlet" style="width: 100%">
                                                <div class="m-portlet__body">
                                                     <div class="m-scrollable" data-max-height="500" data-scrollable="true" data-scrollbar-shown="true">
                                                         <div style="display: flex;">
                                                         Rating:  <br>
                                                         <div style="padding-left: 37px;">{{review.stars}} / 5</div>
                                                         </div>
                                                         <div style="display:flex">
                                                         Description:    <div class="summernote-text" style="padding-left: 10px;" [innerHTML]="review.comment"></div>
                                                         </div>
                                                     </div>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <ng-template #notTrue>
                                    <div>
                                        <h5 class="m-form__section">
                                            No reviews yet
                                        </h5>
                                    </div>
                                </ng-template>
                            </div>
					     </div>
                    </div>

					<div class="tab-pane" id="m_user_profile_tab_3">
					    <div *ngIf="jobs.length!=0; else notTrue">
                	    <div class="m-content">
                	        <div *ngIf="jobs" style="animation: fadeIn;">
                        		<div class="row">
                        			<div *ngFor="let job of jobs" class="col-xl-4">
                        				<div class="m-portlet">
                        					<div class="m-portlet__head">
                        						<div class="m-portlet__head-caption">
                        							<div class="m-portlet__head-title">
                        							    <span class="m-portlet__head-icon">
                        								    <i class="fa fa-thumb-tack"></i>
                        							    </span>
                        								<h3 class="m-portlet__head-text">
															<div class="summernote-text" [innerHTML]="job.description"></div>
                        								</h3>
                        							</div>
                        						</div>
                        					</div>
                        					<div class="m-portlet__body">
                        						<div class="m-scrollable" data-max-height="200" data-scrollable="true" data-scrollbar-shown="true">
                        								Pay: {{job.cost}} RON <br>
                        								Time: {{job.hpw}} h / week <br>
                        								Location: {{job.location}} <br>
                        						</div>
                        					</div>
											<div class="m-portlet__foot">
												<div class="row align-items-center">
													<div class="col-lg-12">
														<button class="btn btn-accent" data-toggle="modal" data-target="#m_modal_1" type="submit" (click)="selectJob(job)">
															Info
														</button>
													</div>
												</div>
											</div>
                        				</div>
                        			</div>

                        		</div>
                        	</div>

							<div class="m-portlet__foot">
								<a href="" class="btn btn-outline-metal m-btn m-btn--pill m-btn--air btn-sm" (click)="prev()"><</a>
								{{pageNo}}
								<a href="" class="btn btn-outline-metal m-btn m-btn--pill m-btn--air btn-sm" (click)="next()">></a>

							</div>
                        </div>
                        </div>
                         <ng-template #notTrue>
                                                            <div>
                                                                <h5 class="m-form__section" style="padding: 30px">
                                                                    No added jobs
                                                                </h5>
                                                            </div>
                                                        </ng-template>

                    </div>
                </div>

			</div>
		</div>
	</div>
	<!--begin::Modal-->
	<div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						{{selectedJob.description}}
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group m-form__group">
						<label>
							Hours / Week
						</label>
						<div class="m-input-icon m-input-icon--left m-input-icon--right">
							<input type="text" class="form-control m-input m-input--pill" placeholder="{{selectedJob.hpw}}" value="{{selectedJob.hpw}}" readonly="readonly">
							<span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="fa fa-clock-o"></i>
								</span>
							</span>
						</div>
					</div>
					<div class="form-group m-form__group">
						<label>
							Cost
						</label>
						<div class="m-input-icon m-input-icon--left m-input-icon--right">
							<input type="text" class="form-control m-input m-input--pill" placeholder="{{selectedJob.cost}}" value="{{selectedJob.cost}}" readonly="readonly">
							<span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="fa fa-money"></i>
								</span>
							</span>
						</div>
					</div>
					<div class="form-group m-form__group">
						<label>
							Location
						</label>
						<div class="m-input-icon m-input-icon--left m-input-icon--right">
							<input type="text" class="form-control m-input m-input--pill" placeholder="{{selectedJob.location}}" value="{{selectedJob.location}}" readonly="readonly">
							<span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="fa fa-map-marker"></i>
								</span>
							</span>
						</div>
					</div>
					<div class="form-group m-form__group">
						<label>
							Start date
						</label>
						<div class="m-input-icon m-input-icon--left m-input-icon--right">
							<input type="text" class="form-control m-input m-input--pill" placeholder="{{selectedJob.startDate}}" value="{{selectedJob.startDate}}" readonly="readonly">
							<span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="fa fa-calendar-o"></i>
								</span>
							</span>
						</div>
					</div>
					<div class="form-group m-form__group">
						<label>
							End date
						</label>
						<div class="m-input-icon m-input-icon--left m-input-icon--right">
							<input type="text" class="form-control m-input m-input--pill" placeholder="{{selectedJob.endDate}}" value="{{selectedJob.endDate}}" readonly="readonly">
							<span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="fa fa-calendar-o"></i>
								</span>
							</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>
	<!--end::Modal-->
</div>
