<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Candidates
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="m-content">
	<div *ngIf="rejectUser">
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			<strong>
				That's sad!
			</strong>
			Unfortunately, you rejected this user.
		</div>
	</div>
	<div *ngIf="acceptUser">
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
			<strong>
				Well done!
			</strong>
			You successfully selected this user to complete your job.
		</div>
	</div>
	<div class="row" style="padding: 15px 15px;">
			<div class="m-portlet m-portlet--full-width m-portlet--tabs" style="width: 100%">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_candidates_tab_1" role="tab">
									<i class="flaticon-share m--hide"></i>
									Pending
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_candidates_tab_2" role="tab">
									Accepted
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_candidates_tab_3" role="tab">
									Rejected
								</a>
							</li>
							<li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_candidates_tab_4" role="tab">
                            		Finished
                            	</a>
                            </li>
						</ul>
					</div>
					</div>
				<div class="tab-content">
					<div class="tab-pane active" id="m_candidates_tab_1">
                	    <div class="m-content">
                	        <div *ngIf="jobspending" style="animation: fadeIn;">
                	        <div *ngIf="jobspending.length!=0; else notTrue">
                        		<div class="row">
                                    <div *ngFor="let app of jobspending; let i = index" class="col-xl-4">
                                        <div class="m-portlet">
                                            <div class="m-portlet__head">
                                                <div class="m-portlet__head-caption">
                                                    <div class="m-portlet__head-title">
                                                        <span class="m-portlet__head-icon">
                                                            <i class="fa fa-thumb-tack"></i>
                                                        </span>
                                                        <h3 class="m-portlet__head-text">
                                                            <div class="text" > {{app.description}}</div>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-portlet__body">
                                                <div class="m-scrollable" data-max-height="200" data-scrollable="true" data-scrollbar-shown="true">


                                                    User: {{applicationspending[i].fromUniUser.firstname}} {{applicationspending[i].fromUniUser.lastname}}

                                                </div>
                                            </div>
                                            <div class="m-portlet__foot" style="padding: 1.1rem 1.1rem">
                                                 <div class="row align-items-center" style="display: inline;">
                                                    <div class="col-lg-12">
                                                          <button class="btn btn-success" type="submit" (click)="accept(applicationspending[i])">
                                                                 Accept
                                                          </button>


                                                          <button class="btn btn-danger" type="submit" (click)="reject(applicationspending[i])">
                                                                Reject
                                                          </button>
                                                     </div>
                                                 </div>
                                            </div>
                                        </div>
                        	        </div>
                        	    </div>
                        	</div>
                        	</div>
                            <ng-template #notTrue>
                                                           Nothing new
                                                       </ng-template>
                        </div>
                    </div>
					<div class="tab-pane" id="m_candidates_tab_2">
                	    <div class="m-content">
                	        <div *ngIf="jobsaccepted" style="animation: fadeIn;">
                	         <div *ngIf="jobsaccepted.length!=0; else notTrue">

                        		<div class="row">
                                    <div *ngFor="let app of jobsaccepted; let i = index" class="col-xl-4">
                                        <div class="m-portlet">
                                            <div class="m-portlet__head">
                                                <div class="m-portlet__head-caption">
                                                    <div class="m-portlet__head-title">
                                                        <span class="m-portlet__head-icon">
                                                            <i class="fa fa-thumb-tack"></i>
                                                        </span>
                                                        <h3 class="m-portlet__head-text">
                                                            <div class="text" > {{app.description}}</div>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-portlet__body">
                                                <div class="m-scrollable" data-max-height="200" data-scrollable="true" data-scrollbar-shown="true">


                                                    User: {{applicationsaccepted[i].fromUniUser.firstname}} {{applicationsaccepted[i].fromUniUser.lastname}}

                                                </div>
                                            </div>
                                            <div class="m-portlet__foot">
                                                 <div class="row align-items-center">
                                                     <div class="col-lg-12">
                                                          <button class="btn btn-success" type="submit" (click)="finish(applicationsaccepted[i])">
                                                                 Finish
                                                          </button>
                                                     </div>
                                                 </div>
                                            </div>
                                        </div>
                        	        </div>
                        	    </div>
                        	  </div>
                        	</div>
                        	<ng-template #notTrue>
                                                            Nothing new
                                                        </ng-template>
                        </div>
                    </div>
                    <div class="tab-pane" id="m_candidates_tab_3">
                	    <div class="m-content">
                	        <div *ngIf="jobsrejected" style="animation: fadeIn;">
                	        <div *ngIf="jobsrejected.length != 0;else notTrue">

                        		<div class="row">
                                    <div *ngFor="let app of jobsrejected; let i = index" class="col-xl-4">
                                        <div class="m-portlet">
                                            <div class="m-portlet__head">
                                                <div class="m-portlet__head-caption">
                                                    <div class="m-portlet__head-title">
                                                        <span class="m-portlet__head-icon">
                                                            <i class="fa fa-thumb-tack"></i>
                                                        </span>
                                                        <h3 class="m-portlet__head-text">
                                                            <div class="text" > {{app.job}}</div>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-portlet__body">
                                                <div class="m-scrollable" data-max-height="200" data-scrollable="true" data-scrollbar-shown="true">


                                                    User: {{applicationsrejected[i].fromUniUser.firstname}} {{applicationsrejected[i].fromUniUser.lastname}}

                                                </div>
                                            </div>

                                        </div>
                        	        </div>
                        	    </div>
                        	</div>
                        	</div>
                        	<ng-template #notTrue>
                                                            Nothing new
                                                        </ng-template>
                        </div>
                    </div>
					<div class="tab-pane" id="m_candidates_tab_4">
                	    <div class="m-content">
                	        <div *ngIf="jobsfinished" style="animation: fadeIn;">
                	        <div *ngIf="jobsfinished.length != 0; else notTrue">
                        		<div class="row">
                                    <div *ngFor="let app of jobsfinished; let i = index" class="col-xl-4">
                                        <div class="m-portlet">
                                            <div class="m-portlet__head">
                                                <div class="m-portlet__head-caption">
                                                    <div class="m-portlet__head-title">
                                                        <span class="m-portlet__head-icon">
                                                            <i class="fa fa-thumb-tack"></i>
                                                        </span>
                                                        <h3 class="m-portlet__head-text">
                                                            <div class="text" > {{app.description}}</div>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-portlet__body">
                                                <div class="m-scrollable" data-max-height="200" data-scrollable="true" data-scrollbar-shown="true">


                                                    User: {{applicationsfinished[i].fromUniUser.firstname}} {{applicationsfinished[i].fromUniUser.lastname}}

                                                </div>
                                            </div>
                                            <div class="m-portlet__foot">
                                                 <div class="row align-items-center">
                                                     <div class="col-lg-12">
                                                          <button class="btn btn-accent" type="submit" (click)="review(applicationsfinished[i])">
                                                                Review
                                                          </button>
                                                     </div>
                                                 </div>
                                            </div>
                                        </div>
                        	        </div>
                        	    </div>
                        	</div>
                        	</div>
                        	<ng-template #notTrue>
                                                                 Nothing new
                                                            </ng-template>
                        </div>
                    </div>
                </div>
			</div>
    </div>
</div>