<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Applications
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="m-content">
	<div class="row">
			<div class="m-portlet m-portlet--full-width m-portlet--tabs" style="width: 100%">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_candidates_tab_1" role="tab">
									<i class="flaticon-share m--hide"></i>
									Pending
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_candidates_tab_2" role="tab">
									Accepted
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_candidates_tab_3" role="tab">
									Rejected
								</a>
							</li>
							<li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_candidates_tab_4" role="tab">
                            		Finished
                            	</a>
                            </li>
						</ul>
					</div>
					</div>
				<div class="tab-content">
					<div class="tab-pane active" id="m_candidates_tab_1">
                	    <div class="m-content">
                	        <div *ngIf="jobspending" style="animation: fadeIn;">
                	            <div *ngIf="jobspending.length!=0; else notTrue">
                                    <div class="row">
                                        <div *ngFor="let app of jobspending; let i = index" class="col-xl-4">
                                                <div class="m-portlet">
                                                    <div class="m-portlet__head">
                                                        <div class="m-portlet__head-caption">
                                                            <div class="m-portlet__head-title">
                                                        <span class="m-portlet__head-icon">
                                                            <i class="fa fa-thumb-tack"></i>
                                                        </span>
                                                                <h3 class="m-portlet__head-text">
                                                                    <div class="text" > {{app.description}} </div>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-portlet__body">
                                                        <div class="m-scrollable" data-max-height="200" data-scrollable="true" data-scrollbar-shown="true">

                                                            Employer: {{applicationspending[i].toUniUser.firstname}} {{applicationspending[i].toUniUser.lastname}}<br>

                                                        </div>
                                                    </div>
                                                    <div class="m-portlet__foot">
                                                        <div class="row align-items-center">
                                                            <div class="col-lg-12">
                                                                <button class="btn btn-accent" data-toggle="modal" data-target="#m_modal_1" type="submit" (click)="selectJob(app)">
                                                                    Info
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ng-template #notTrue>
                                Nothing new
                            </ng-template>
                        </div>
                    </div>
					<div class="tab-pane" id="m_candidates_tab_2">
                	    <div class="m-content">
                	        <div *ngIf="jobsaccepted" style="animation: fadeIn;">
                	            <div *ngIf="jobsaccepted.length!=0; else notTrue">
                        		<div class="row">
                                    <div *ngFor="let app of jobsaccepted; let i = index" class="col-xl-4">
                                        <div class="m-portlet">
                                            <div class="m-portlet__head">
                                                <div class="m-portlet__head-caption">
                                                    <div class="m-portlet__head-title">
                                                        <span class="m-portlet__head-icon">
                                                            <i class="fa fa-thumb-tack"></i>
                                                        </span>
                                                        <h3 class="m-portlet__head-text">
                                                            <div class="text" > {{app.description}}</div>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-portlet__body">
                                                <div class="m-scrollable" data-max-height="200" data-scrollable="true" data-scrollbar-shown="true">

                                                    Employer: {{applicationsaccepted[i].toUniUser.firstname}} {{applicationsaccepted[i].toUniUser.lastname}}

                                                </div>
                                            </div>

                                        </div>
                        	        </div>
                        	    </div>
                        	    </div>
                        	</div>
                        	<ng-template #notTrue>
                                                            Nothing new
                                                        </ng-template>
                        </div>
                    </div>
                    <div class="tab-pane" id="m_candidates_tab_3">
                	    <div class="m-content">
                	        <div *ngIf="jobsrejected" style="animation: fadeIn;">
                	            <div *ngIf="jobsrejected.length != 0;else notTrue">
                        		<div class="row">
                                    <div *ngFor="let app of jobsrejected; let i = index" class="col-xl-4">
                                        <div class="m-portlet">
                                            <div class="m-portlet__head">
                                                <div class="m-portlet__head-caption">
                                                    <div class="m-portlet__head-title">
                                                        <span class="m-portlet__head-icon">
                                                            <i class="fa fa-thumb-tack"></i>
                                                        </span>
                                                        <h3 class="m-portlet__head-text">
                                                            <div class="text" > {{app.description}}</div>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-portlet__body">
                                                <div class="m-scrollable" data-max-height="200" data-scrollable="true" data-scrollbar-shown="true">

                                                    Employer: {{applicationsrejected[i].toUniUser.firstname}} {{applicationsrejected[i].toUniUser.lastname}}

                                                </div>
                                            </div>

                                        </div>
                        	        </div>
                        	    </div>
                        	</div>

                            </div>
                            <ng-template #notTrue>
                                Nothing new
                            </ng-template>

                        </div>
                    </div>
					<div class="tab-pane" id="m_candidates_tab_4">
                	    <div class="m-content">
                	        <div *ngIf="jobsfinished" style="animation: fadeIn;">
                	            <div *ngIf="jobsfinished.length != 0; else notTrue">
                        		<div class="row">
                                    <div *ngFor="let app of jobsfinished; let i = index" class="col-xl-4">
                                        <div class="m-portlet">
                                            <div class="m-portlet__head">
                                                <div class="m-portlet__head-caption">
                                                    <div class="m-portlet__head-title">
                                                        <span class="m-portlet__head-icon">
                                                            <i class="fa fa-thumb-tack"></i>
                                                        </span>
                                                        <h3 class="m-portlet__head-text">
                                                            <div class="text" > {{app.description}}</div>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-portlet__body">
                                                <div class="m-scrollable" data-max-height="200" data-scrollable="true" data-scrollbar-shown="true">

                                                    Employer: {{applicationsfinished[i].toUniUser.firstname}} {{applicationsfinished[i].toUniUser.lastname}}

                                                </div>
                                            </div>
                                            <div class="m-portlet__foot">
                                                 <div class="row align-items-center">
                                                     <div class="col-lg-12">
                                                          <button class="btn btn-accent" type="submit" (click)="review(app, applicationsfinished[i])">
                                                                Review
                                                          </button>
                                                     </div>
                                                 </div>
                                            </div>
                                        </div>
                        	        </div>
                        	    </div>
                        	    </div>
                        	    <ng-template #notTrue>
                                     Nothing new
                                </ng-template>

                        	</div>

                        </div>
                    </div>
                </div>
			</div>
    </div>
    <!--begin::Modal-->
    <div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {{selectedJob.description}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-form__group">
                        <label>
                            Hours / Week
                        </label>
                        <div class="m-input-icon m-input-icon--left m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--pill" placeholder="{{selectedJob.hpw}}" value="{{selectedJob.hpw}}" readonly="readonly">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="fa fa-clock-o"></i>
								</span>
							</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Cost
                        </label>
                        <div class="m-input-icon m-input-icon--left m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--pill" placeholder="{{selectedJob.cost}}" value="{{selectedJob.cost}}" readonly="readonly">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="fa fa-money"></i>
								</span>
							</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Location
                        </label>
                        <div class="m-input-icon m-input-icon--left m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--pill" placeholder="{{selectedJob.location}}" value="{{selectedJob.location}}" readonly="readonly">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="fa fa-map-marker"></i>
								</span>
							</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Start date
                        </label>
                        <div class="m-input-icon m-input-icon--left m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--pill" placeholder="{{selectedJob.startDate}}" value="{{selectedJob.startDate}}" readonly="readonly">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="fa fa-calendar-o"></i>
								</span>
							</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            End date
                        </label>
                        <div class="m-input-icon m-input-icon--left m-input-icon--right">
                            <input type="text" class="form-control m-input m-input--pill" placeholder="{{selectedJob.endDate}}" value="{{selectedJob.endDate}}" readonly="readonly">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="fa fa-calendar-o"></i>
								</span>
							</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--end::Modal-->
</div>